{% load static %}

<html>

  <head>

    <title>Web Designer &amp; Developer | Web Design London | Wael Mahdy</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="title" content="Web developer portfolio, UI/UX javascript, PHP specialist ">
    <meta name="description" content="Personal Web Developer Portfolio. I'm a Front-End &amp; Back-End Software Developer and UI/UX Javascript, PHP, C# Specialist,based in Esher Surrey, London. Check out my projects.">
    <meta name="keywords" content="london, freelance, web, developer, website, HTML, CSS, JavaScript, Vue, Nuxt, React, jQuery, SCSS, responsive, mobile,junior front-end developer, junior PHP developer,front-end developer,PHP developer,.NET developer, junior .NET developer, junior software developer,wael mahdy,london">
    <meta name="author" content="Wael Mahdy">
    <meta name="page:title" content="Web developer portfolio">

    <link rel="stylesheet" href="{% static 'style/animate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style-contact.css' %}" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Tangerine&amp;display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'icons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'icons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'icons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'icons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'icons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'icons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'icons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'icons/apple-touch-icon-152x152.png' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-196x196.png' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon-128.png' %}" sizes="128x128">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'icons/mstile-144x144.png' %}">
    <meta name="msapplication-square70x70logo" content="{% static 'icons/mstile-70x70.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'icons/mstile-150x150.png' %}">
    <meta name="msapplication-wide310x150logo" content="{% static 'icons/mstile-310x150.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'icons/mstile-310x310.png' %}">
    <!--END ICONS -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style-skills.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style/style-projects.css' %}" type="text/css">
    <link href="{% static 'style/style-timline.css' %}" rel="stylesheet">
    <link rel="{% static 'stylesheet" href="style/reset.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6645cd8680d7c0001914e646&product=inline-share-buttons' async='async'></script> 
    <script src="{% static 'js/btn.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script> 
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-158351236-1');
    </script>
    <script src="{% static 'js/wow.min.js' %}"></script>

   

</head>
    <body>
       <div class="preloader">
        </div>  
        <section id="home">
            <p id="homeDiv"></p>
            <div class="header">
                <div id="homeImage">
        
                    <div id="navBar">
                        <nav id="navbar"
                             class="navbar scrollspy smoth-scroll navbar-expand-md  navbar-dark bg-dark sticky-top">
                            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                                <span class="navbar-toggler-icon"></span>
                            </button>
        
                            <div class="collapse navbar-collapse" id="collapse_target">
                                <div class="collapse navbar-collapse" id="collapse_target">
                                    <div class="collapse navbar-collapse" id="collapse_target">
                                        <ul class="navList navbar-nav">
                                            <li class="navitem nav-item">
                                                <a role="button" data-container="#home" class="active nav-link" onclick="document.getElementById('homeDiv').scrollIntoView({behavior:'smooth'})">HOME</a>
                                            </li>
                                            <li class="navitem nav-item">
                                                <a role="button" data-container="#aboutMe" class="nav-link" onclick="document.getElementById('aboutMeDiv').scrollIntoView({behavior:'smooth'})">ABOUT ME</a>
                                            </li>
                                            <li class="navitem nav-item" id="timelineNav">
                                                <a role="button" data-container="#timeline" class="nav-link" onclick="document.getElementById('timelineDiv').scrollIntoView({behavior:'smooth'})">my timeline</a>
                                            </li>
                                            <li class="navitem nav-item">
                                                <a role="button" data-container="#skills" class="nav-link" onclick="document.getElementById('skillsDiv').scrollIntoView({behavior:'smooth'})">SKILLS</a>
                                            </li>
                                            <li class="navitem nav-item">
                                                <a role="button" data-container="#projects" class="nav-link" onclick="document.getElementById('projectsDiv').scrollIntoView({behavior:'smooth'})">PROJECTS</a>
                                            </li>
                                            <li class="navitem nav-item">
                                                <a role="button" data-container="#contact" class="nav-link" onclick="document.getElementById('contactDiv').scrollIntoView({behavior:'smooth'})">Get in touch</a>
                                                {% comment %} @*<button class="nav-link" onclick="document.getElementById('contactDiv').scrollIntoView({behavior:'smooth'})">Contacts</button>*@ {% endcomment %}
                                            </li>
                                        </ul>
                                        <a href="#aboutMe">
                                            <div id="title" class="wow heartBeat">
                                                <p>Wael Mahdy</p>
                                            </div>
                                        </a>
        
                                    </div>
                                </div>
                            </div>
                        </nav>
        
                    </div>
                </div>
                <div class="cartIcon">
                    <a href="#"><img id="logo" src="{% static 'images/horuseye1.jpg' %}" /></a>
        
                </div>
        
        
                <div id="header">
        
        
        
                    <div class="loading">
                        <span>Web Developer...</span>
                    </div>
                </div>
                <a style="cursor:pointer;" onclick="document.getElementById('aboutMeDiv').scrollIntoView({behavior:'smooth'})">
                    <div class="chevronContainer">
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </div>
        
                </a>
            </div>
        </section>
        
        <!-- start section about me -->
        
        <section id="aboutMe">
            <p id="aboutMeDiv"></p>
            <div id="about" class="paddsection">
                <div class="container">
                    <div class="row justify-content-between">
        
                        <div class="col-lg-4 ">
                            <div class="div-img-bg">
                                <div class="about-img">
                                    <a href="{% static 'images/myImg2.jpg' %}" target="_blank">
                                        <img src="{% static 'images/myImg2.jpg' %}"
                                             class="img-responsive" alt="me">
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-lg-7">
                            <div class="about-descr">
        
                                <p class="p-heading"><i>Web Developer.</i> </p>
                                <p class="separator" style="text-align:justify;">
                                    I have studied mechanical engineering and have been working in the petroleum industry as
                                    a field engineer where I worked myself up.<br /><br />
                                    Having a hunger and passion towards IT, made me pursue my dream when I moved to the UK.
                                    When starting my search I discovered my interest is in software developing and my aim is
                                    to become a full-stack developer. Therefore I completed a self-funded developer’s
                                    programme course at <b>
                                        <a href="https://www.justit.co.uk/" target="_blank"
                                           style="color:#898989 ;">
                                            justIT
                                        </a>
                                    </b>
                                    and looking for a Junior Developer role.<br /><br />
                                    In<b> 2023</b> completed MICROSOFT SOFTWARE ENGINEER – PYTHON bootcamp with FIREBRAND.  
                                </p>
                                <div id="CV">
                                    <a href="{% static 'images/CV.pdf' %}" target="_blank">
                                        <i>
                                            <img src="{% static 'images/icons8-resume-100.png' %}" />
                                        </i>
                                    </a>
                                    <a href="{% static 'images/CV.pdf' %}" target="_blank" style="color:#898989 ;">
                                        View my
                                        resume.
                                    </a>
                                </div>
        
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section about me -->
        <!-- start section timeline -->
        
        <section id="timeline">
            <p id="timelineDiv"> </p>
            <h2 class="sectionTileLine-title wow zoomIn" data-wow-delay=".5s"> My Timeline </h2>
            <div class="container mb-5 mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline"></div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2024</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/web-developer.jpg' %}" />
                                    </div>
                                    <h3 class="title">Microsoft Software Engineer – Python</h3>
                                    <p class="description">
                                        A bootcamp with <a href='https://firebrand.training/uk' target="_blank" style='color: #898989;'><i>FIREBRAND</i></a> where I succssfully obtained :<br>  * Microsoft: Azure Fundamentals AZ-900, <br>* Developing Solutions for Microsoft Azure-AZ-204 and<br> * Associate Pearson IT Specialist- Python Fundamentals ITS-303<br> certificates.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2020</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/coding.jpg' %}" />
                                    </div>
                                    <h3 class="title">Web Development Course with <a href='https://www.justit.co.uk/' target="_blank" style='color: #898989;'><i>Just IT</i></a></h3>
                                    <p class="description">
                                        Having a passion for coding and learning new technologies, in general, drove me chose coding as a career when I moved to the UK in 2019, I've embarked upon this self-funded course to develop my coding skills.
                                        I've already become comfortable with a number of languages and frameworks
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2008</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/OilField.png' %}" />
                                    </div>
                                    <h3 class="title">First job</h3>
                                    <p class="description">
                                        After graduation, I worked in the oil field as a field engineer, where I worked myself up to become a supervisor. I worked in several companies and countries in the middle east.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline mb-5">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2007</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/MilitaryPic.png' %}" />
                                    </div>
                                    <h3 class="title">Army Service</h3>
                                    <p class="description pl-4">
                                        Completed my 3 years mandatory army attendance in the Egyptian Army as an officer
                                    </p>
                                </div>
                            </div>.<br /><br />
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2004</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/GraduPic.png' %}" />
                                    </div>
                                    <h3 class="title">Graduation</h3>
                                    <p class="description">
                                        Graduated from Assiut University in Egypt as a Mechanical Engineer. Subject knowledge is a small fraction of what it takes to be an outstanding Engineeer.
                                        My time in various schools has taught me the importance of time and project management, effective communication, organisation, the ability to rapidly adapt to changing situations and more.
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-year">
                                        <span>1978</span>
                                    </div>
                                    <div class="timeline-icon wow swing" data-wow-duration="3s" data-wow-delay="1s" data-wow-iteration="1000">
                                        <img src="{% static 'images/baby-1.jpg' %}" />
                                    </div>
                                    <h3 class="title">Born</h3>
                                    <p class="description ml-3">
                                        I was born in September 1978 Cairo, Egypt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section timeline -->
        <!-- start section skills -->
        
        <section id="skills">
            <p id="skillsDiv"> </p>
            <div class="skills-section">
                <div class="inner-width">
                    <h1 class="section-title wow zoomIn">Skills</h1>
                    <div class="border"></div>
                    <div class="skill-container">
        
                        <div class="skill-box wow bounceInLeft">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
                                    <i>
                                        <img src="{% static 'images/html-5-480.png' %}" height="100%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">HTML5</div>
                            <div class="skill-desc"></div>
                        </div>
        
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">
                                    <i>
                                        <img src="{% static 'images/css3-480.png' %}" height="100%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">CSS</div>
                            <div class="skill-desc"></div>
                        </div>
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">
                                    <i>
                                        <img src="{% static 'images/javascript-480.png' %}" height="100%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">JavaScript</div>
                            <div class="skill-desc"></div>
                        </div>
                        <div class="skill-box wow bounceInRight">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/JQuery" target="_blank">
                                    <i>
                                        <img src="{% static 'images/jquery-01.svg' %}" width="65%" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">jQuery</div>
                            <div class="skill-desc"></div>
                        </div>
        
                        <div class="skill-box wow bounceInLeft">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)"
                                   target="_blank"><i><img src="{% static 'images/csharplogo.png' %}" width="80%" height="80%" /></i></a>
                            </div>
                            <div class="skill-title">Microsoft C#</div>
                            <div class="skill-desc"></div>
                        </div>
        
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/ASP.NET" target="_blank">
                                    <i>
                                        <img src="{% static 'images/AspDotNet.png' %}" width="80%" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">ASP.NET</div>
                            <div class="skill-desc"></div>
                        </div>
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">
                                    <i>
                                        <img src="{% static 'images/sql-01.svg' %}"
                                             width="80%" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">SQL</div>
                            <div class="skill-desc"></div>
                        </div>
        
                        <div class="skill-box wow bounceInRight">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">
                                    <i><img src="{% static 'images/bootstraplogo.png' %}" width="80%" height="80%" /></i>
                                </a>
                            </div>
                            <div class="skill-title">Bootstrap </div>
                            <div class="skill-desc"></div>
                        </div>  
                        <div class="skill-box wow bounceInLeft">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/Microsoft_Azure" target="_blank">
                                    <i>
                                        <img src="{% static 'images/microsoft-azure.jpg' %}" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">Azure</div>
                            <div class="skill-desc"></div>
                        </div>  
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank">
                                    <i>
                                        <img src="{% static 'images/python.jpg' %}"
                                             width="80%" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">Python</div>
                            <div class="skill-desc"></div>
                        </div>   
                        <div class="skill-box wow zoomIn">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/Django_(web_framework)" target="_blank">
                                    <i>
                                        <img src="{% static 'images/django.jpg' %}"
                                             width="80%" height="80%" />
                                    </i>
                                </a>
                            </div>
                            <div class="skill-title">Django</div>
                            <div class="skill-desc"></div>
                        </div> 
                        <div class="skill-box wow bounceInRight">
                            <div class="skill-icon">
                                <a href="https://en.wikipedia.org/wiki/PostgreSQL" target="_blank">
                                    <i><img src="{% static 'images/postgres.jpg' %}" width="80%" height="80%" /></i>
                                </a>
                            </div>
                            <div class="skill-title">PostgreSQL </div>
                            <div class="skill-desc"></div>
                        </div> 
        
                    </div>
                </div>
        
            </div>
        </section>
        <!-- end section skills -->
        <!-- start section projects -->
        <section id="projects">
            <p id="projectsDiv"> </p>
            <div class="project-section">
                <h1 class="section-title wow zoomIn" style="color: #898989;">Projects</h1>
                <p class="sub"><i>Click on the images below for more details</i></p>
                <div class="projectscontainer">
        
                    {% comment %} <div class="projct wow zoomIn">
                        <a href="#projects" data-toggle="modal" data-target="#blackHatModal">
                            <img src="{% static 'images/blachHatStore.jpg' %}" width="90%" height="90%">
                        </a>
                        <div class="inbox">
                            <p>Black Hat Online Store</p>
                        </div>
        
                    </div> {% endcomment %}
                    <div class="projct wow zoomIn">
                        <a href="#projects" data-toggle="modal" data-target="#weatherAppModal">
                            <img src="{% static 'images/weatherApp-1.jpg' %}" width="90%" height="90%">
                        </a>
                        <div class="inbox">
                            <p>Weather Application</p>
                        </div>
        
                    </div>
                    <div class="projct wow zoomIn">
                        <a href="#projects" data-toggle="modal" data-target="#CurrencyConverter">
                            <img src="{% static 'images/currencies-converter-image.jpg' %}" width="90%" height="90%">
                        </a>
                        <div class="inbox">
                            <p>Currency Converter</p>
                        </div>
        
                    </div>       
                    <div class="projct wow zoomIn">
                        <a href="#projects" data-toggle="modal" data-target="#UnitsConverter">
                            <img src="{% static 'images/units-converter-image.jpg' %}" width="90%" height="90%">
                        </a>
                        <div class="inbox">
                            <p>Units Converter</p>
                        </div>
        
                    </div>
                    {% comment %} <div class="projct wow zoomIn">
                        <a href="#projects" data-toggle="modal" data-target="#muppetshowModal">
                            <img src="{% static 'images/muppets.jpg' %}" width="90%" height="90%">
                        </a>
                        <div class="inbox">
                            <p>The Muppet Show</p>
                        </div>
        
                    </div> {% endcomment %}
        
        
                </div>
            </div>
            <!-- projects modals -->
            <div class="modal fade bd-example-modal-lg" id="weatherAppModal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true" wfd-id="14">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content projectModal">
        
                        <div class="container" style="margin:2rem;">
                            <h1 style="margin:2rem;">Weather Application</h1><br />
                            <img src="{% static 'images/close.svg' %}" class="modalClose" data-toggle="modal"
                                 data-target="#weatherAppModal">
                            <div class="row modalRow">
                                <div class="col-lg-8">
                                    <div class="modalScreenshotDiv salaryCalcScreen">
                                        <img src="{% static 'images/weatherApp-1.jpg' %}" width="100%" />
                                    </div>
                                    <h2 style="margin-top:2rem;">Project Summary</h2>
                                    <p>
                                        The aim of this project was to create a weather website focused on getting the
                                        weather data by device's location or search by city name by using JavaScript and
                                        APIs.<br><br>based on my experience with weather applications, I found them very
                                        useful especially before you go out or planning a trip. Also, it is a responsive
                                        website.
                                        I always have this question about how they do it so quickly and accurately! This was
                                        my inspiration to build this website.
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="modalDateLabel">Date created</h3>
                                    <h4 class="modalDate">Septemper 2019</h4>
                                    <h3 class="modalLanguageLabel">Skills used</h3>
                                    <i><img class="langUsed" src="{% static 'images/html-5-480.png' %}" height="30px" title="HTML5"></i>
                                    <img class="langUsed" src="{% static 'images/css3-480.png' %}" height="30px" title="CSS3">
                                    <img class="langUsed" src="{% static 'images/javascript-480.png' %}" height="35px" title="JavaScript">
                                    <img class="langUsed" src="{% static 'images/jquery.png' %}" height="25px" title="jQuery">
                                    <img class="langUsed" src="{% static 'images/bootstraplogo.png' %}" height="30px" title="Bootstrap">
                                    <br /><br />
        
                                    <a href="https://weathercondition.netlify.app/" target="_blank">
                                        <button class="demoButton"
                                                wfd-id="82">
                                            LIVE DEMO
                                        </button>
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- <div class="modal fade bd-example-modal-lg" id="muppetshowModal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true" wfd-id="14">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content projectModal">
        
                        <div class="container" style="margin:2rem;">
                            <h1 style="margin:2rem;">Muppet Show Database</h1>
                            <img src="{% static 'images/close.svg' %}" class="modalClose" data-toggle="modal"
                                 data-target="#muppetshowModal">
                            <div class="row modalRow">
                                <div class="col-lg-8">
                                    <div class="modalScreenshotDiv salaryCalcScreen">
                                        <img src="{% static 'images/muppets.jpg' %}" width="80%" />
                                    </div>
                                    <h2 style="margin-top:2rem;">Project Summary</h2>
                                    <p>
                                        The aim of this project was to create a database for the famous TV show muppet show,
                                        for me it was a training of how to use ASP.NET MVC .<br><br>Using the powerful
                                        Microsoft ASP.net MVC it was a challenge to me at first. In this project, I added
                                        youtube videos, likes button and counter for each character using C#. Also, it is a
                                        responsive website.
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="modalDateLabel">Date created</h3>
                                    <h4 class="modalDate">August 2019</h4>
                                    <h3 class="modalLanguageLabel">Skills used</h3>
                                    <img class="langUsed" src="{% static 'images/html-5-480.png' %}" height="30px" title="HTML5">
                                    <img class="langUsed" src="{% static 'images/css3-480.png' %}" height="30px" title="CSS3">
                                    <img class="langUsed" src="{% static 'images/javascript-480.png' %}" height="35px" title="JavaScript">
                                    <img class="langUsed" src="{% static 'images/csharplogo.png' %}" height="30px" title="C#">
                                    <img class="langUsed" src="{% static 'images/AspDotNet.png' %}" height="35px" title="ASP.NET MVC"><br>
                                    <img class="langUsed" src="{% static 'images/sql-01.svg' %}" height="30px" title="SQL">
                                    <br /><br />
        
                                    <a href="http://muppetshow.waelmahdy.com/" target="_blank">
                                        <button class="demoButton"
                                                wfd-id="82">
                                            LIVE DEMO
                                        </button>
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="blackHatModal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true" wfd-id="14">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content projectModal">
        
                        <div class="container" style="margin:2rem;">
                            <h1 style="margin:2rem;">Black Hat Online Store</h1>
                            <img src="{% static 'images/close.svg' %}" class="modalClose" data-toggle="modal" data-target="#blackHatModal">
                            <div class="row modalRow">
                                <div class="col-lg-8">
                                    <div class="modalScreenshotDiv salaryCalcScreen">
                                        <img src="{% static 'images/blachHatStore.jpg' %}" width="90%" />
                                    </div>
                                    <h2 style="margin-top:2rem;">Project Summary</h2>
                                    <p>
                                        The aim of this project was to create a fully functioning commercial website by
                                        using ASP.NET MVC5. <br><br>In this website, I built an admin protected pages with
                                        password and email for more security so the admin can edit, delete, update or add
                                        products or categories. also, I made sure that all the filters,login system and
                                        search boxes are properly working. Also, it is a responsive website.<br />
                                        Click here to enter the Admin Pages:<a href="http://www.blackhatstore.waelmahdy.com/product" target="_blank">
                                            Click
                                            Here
                                        </a><br />
                                        Admin Email: Admin@blackhat.com<br />
                                        Admin password:Admin@2019
        
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="modalDateLabel">Date created</h3>
                                    <h4 class="modalDate">September 2019</h4>
                                    <h3 class="modalLanguageLabel">Skills used</h3>
                                    <img class="langUsed" src="{% static 'images/html-5-480.png' %}" height="30px" title="HTML5">
                                    <img class="langUsed" src="{% static 'images/css3-480.png' %}" height="30px" title="CSS3">
                                    <img class="langUsed" src="{% static 'images/javascript-480.png' %}" height="35px" title="JavaScript">
                                    <img class="langUsed" src="{% static 'images/csharplogo.png' %}" height="30px" title="C#">
                                    <img class="langUsed" src="{% static 'images/AspDotNet.png' %}" height="35px" title="ASP.NET MVC"><br>
                                    <img class="langUsed" src="{% static 'images/sql-01.svg' %}" height="30px" title="SQL">
                                    <br /><br />
        
                                    <a href="http://blackhatstore.waelmahdy.com/" target="_blank">
                                        <button class="demoButton"
                                                wfd-id="82">
                                            LIVE DEMO
                                        </button>
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>  -->
            <div class="modal fade bd-example-modal-lg" id="CurrencyConverter" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true" wfd-id="14">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content projectModal">
        
                        <div class="container" style="margin:2rem;">
                            <h1 style="margin:2rem;">Currency Converter</h1>
                            <img src="{% static 'images/close.svg' %}" class="modalClose" data-toggle="modal"
                                 data-target="#CurrencyConverter">
                            <div class="row modalRow">
                                <div class="col-lg-8">
                                    <div class="modalScreenshotDiv salaryCalcScreen">
                                        <img src="{% static 'images/currencies-converter-image.jpg' %}" width="90%" />
                                    </div>
                                    <h2 style="margin-top:2rem;">Project Summary</h2>
                                    <p>
                                        The aim of this project was to create a fully functioning Currency Converter using
                                        HTML, CSS, JavaScript and APIs. <br><br>
                                        In this website, All the available currencies exchange rates are always updated by
                                        using an API. Also, it is a responsive website.
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="modalDateLabel">Date created</h3>
                                    <h4 class="modalDate">December 2019</h4>
                                    <h3 class="modalLanguageLabel">Skills used</h3>
                                    <img class="langUsed" src="{% static 'images/html-5-480.png' %}" height="30px" title="HTML5">
                                    <img class="langUsed" src="{% static 'images/css3-480.png' %}" height="30px" title="CSS3">
                                    <img class="langUsed" src="{% static 'images/javascript-480.png' %}" height="35px" title="JavaScript">
                                    <img class="langUsed" src="{% static 'images/jquery.png' %}" height="25px" title="jQuery">
                                    <img class="langUsed" src="{% static 'images/bootstraplogo.png' %}" height="30px" title="Bootstrap">
        
                                    <br /><br />
        
                                    <a href="https://currencies-converter.netlify.app/" target="_blank">
                                        <button class="demoButton" wfd-id="82">
                                            LIVE DEMO
                                        </button>
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" id="UnitsConverter" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true" wfd-id="14">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content projectModal">
        
                        <div class="container" style="margin:2rem;">
                            <h1 style="margin:2rem;">Units Converter</h1>
                            <img src="{% static 'images/close.svg' %}" class="modalClose" data-toggle="modal"
                                 data-target="#UnitsConverter">
                            <div class="row modalRow">
                                <div class="col-lg-8">
                                    <div class="modalScreenshotDiv salaryCalcScreen">
                                        <img src="{% static 'images/units-converter-image.jpg' %}" width="90%" />
                                    </div>
                                    <h2 style="margin-top:2rem;">Project Summary</h2>
                                    <p>
                                        The aim of this project was to create a fully functioning units converter website
                                        using HTML, CSS and JavaScript. <br><br>
                                        In this website, I can easily add, edit, update or delete new category for
                                        measurements list. Also, it is a responsive website.
        
        
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="modalDateLabel">Date created</h3>
                                    <h4 class="modalDate">December 2019</h4>
                                    <h3 class="modalLanguageLabel">Skills used</h3>
                                    <img class="langUsed" src="{% static 'images/html-5-480.png' %}" height="30px" title="HTML5">
                                    <img class="langUsed" src="{% static 'images/css3-480.png' %}" height="30px" title="CSS3">
                                    <img class="langUsed" src="{% static 'images/javascript-480.png' %}" height="35px" title="JavaScript">
                                    <img class="langUsed" src="{% static 'images/jquery.png' %}" height="25px" title="jQuery">
                                    <img class="langUsed" src="{% static 'images/bootstraplogo.png' %}" height="30px" title="Bootstrap">
        
                                    <br /><br />
        
                                    <a href="https://universal-vonverter.netlify.app/" target="_blank">
                                        <button class="demoButton" wfd-id="82">
                                            LIVE DEMO
                                        </button>
                                    </a>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- End of projects modals-->
        </section>
        <!-- End section projects-->
        <!-- start section Contact -->
        <section class="contact pt-100 pb-100" id="contact">
            <p id="contactDiv"></p>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mx-auto text-center">
                        <div class="section-title mb-100">
                            <p>get in touch</p>
                            <h4>Drop me a message</h4>
                            <h3 class="text-center text-success"></h3>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-8">
        
                        <form id="sendForm"  class="contact-form" method='POST'>
                         {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <input type="text" name="name"  placeholder="name" required/>
                                </div>
                                <div class="col-xl-6">
                                    <input type="email" name="email"  placeholder="email" required />
                                </div>
                                <div class="col-xl-6">
                                    <input type="text" name="subject" placeholder="subject"  required/>
                                </div>
                                <div class="col-xl-6">
                                    <input type="text" name="tel" placeholder="telephone"  required/>
                                </div>
                                <div class="col-xl-12">
                                    <p class="sub">Drop Your Message Here.</p>
                                    <textarea id="summary-ckeditor" name="message" placeholder="Message"  cols="30" rows="10" required></textarea>                             
                                        <input type="submit" value="send message" id="sub" />
                                    </div>
                                </div>
                        </form>
                        </div>
                    <div class="col-md-4">
                        <div class="single-contact">
                            <a href="https://maps.google.com/maps?q=High Street, Esher" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <h5>Address</h5>
                            <a href="https://maps.google.com/maps?q=High Street, Leatherhead" target="_blank"> <p>Kingston upon thames, London, United Kingdom</p></a>
              </div>
                        <div class="single-contact">
                            <a href="tel:+447519622517" target="_blank"> <i class="fa fa-phone"></i></a>
                            <h5>Phone</h5>
                            <p><a href="tel:+447519622517" target="_blank">(+44) 7519622517</a></p>
                        </div>
                        <div class="single-contact">
                            <a href="mailto:wael_mahdy001@yahoo.com"><i class="fa fa-envelope"></i></a>
                            <h5>Email</h5>
                            <p><a href="mailto:wael_mahdy001@yahoo.com">wael_mahdy001@yahoo.com</a></p>
                        </div>
                        <div class="single-contact">
                            <a href="https://www.linkedin.com/in/wael-mahdy-51a16558/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/wael-mahdy-51a16558/" target="_blank">
                                <h5>LinkedIn</h5>
                            </a>
                        </div>
                        <div class="single-contact">
                            <a href="https://github.com/waelMahdy"  target="_blank"><i class="fa fa-github-square" style="font-size:larger;"></i></a>
                            <h5>Github</h5>
                            <p><a href="https://github.com/waelMahdy" target="_blank">https://github.com/waelMahdy</a></p>
                        </div>
        
                    </div>
                    </div>
                </div>
        
        </section>
            <!-- end section contact -->
            <!-- start section footer -->           
        <footer>
                <p><a style="color:#0a93a6; text-decoration:none;" href="#"> Wael Mahdy</a> © {% now 'Y' %}.</p>
        </footer>
            <!-- end section footer -->
        <!-- ShareThis BEGIN -->
        <div class="sharethis-inline-share-buttons">
        </div>       
        <!-- ShareThis END -->
     <script>
     
        $(document).ready(function () {
            // catch the form's submit event
            $('#sendForm').submit(function (event) {
                event.preventDefault();
                // create an AJAX call
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                var name=$('input[name="name"]').val();
                $.ajax({
                    type:'POST',
                    data: {
                        name:name,
                        tel:$('input[name="tel"]').val(),
                        message:$("textarea[name='message']").val(),
                        subject:$('input[name="subject"]').val(),
                        email:$('input[name="email"]').val(),
                        csrfmiddlewaretoken: csrfToken}, // get the form data
                    url: "{% url 'contact_form'  %}",
                    //headers: { 'X-CSRFToken': csrfToken },
                    // on success
                    success: function (response) {
                       
                            
                            swal({
                                title: "Message sent!",
                                text: 'Thank you '+name+ ", I will get back to you ASAP.",
                                icon: "success",
                                button: "Ok !",
                              });
                              $('.text-success').text('Message sent, Thank you '+name);
                              $('input[type="text"],textarea,input[type="email"]').val('');         
                
                        
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response);
                      
                            swal({
                                title: "Good job!",
                                text:" Something went wrong, try again later !!!",
                                icon: "error",
                                button: "Ok !",
                              });
                        
                    }
                });
                return false;
            });
            
        
           
        })

     </script> 
     <script>
        $(window).on('load',function(){
            preLoader();
        })
        
        function preLoader() {
            setTimeout(function () {
                $('.preloader').addClass('complete')
            }, 1000);
        }	;
                
        
    </script>
    <script>
        new WOW().init();
    </script>
    </body>
</html>


